<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Drinks</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
  <ion-list>
    <ion-list-header>
      Menu
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/d1.jfif" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Teh O Ice</h2>
        <h3>Rm2.50</h3> 
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/d2.jfif" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Teh Ais</h2>
        <h3>Rm3.00</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/d3.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Milo Ais</h2>
        <h3>Rm3.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/d4.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Sirap bandung</h2>
        <h3>RM6.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/d5.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>ABC</h2>
        <h3>RM8.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/d6.jfif" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Fruit Juices</h2>
        <h3>Rm12.00</h3> 
        <p>Orange,watermelon,kiwi,carrot..</p>
      </ion-label>
    </ion-item>

  </ion-list>
</div>
</ion-content>
