<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Drinks</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
  <ion-list>
    <ion-list-header>
      Menu
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/f1.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Pasta</h2>
        <h3>Rm9.50</h3> 
        <p>aglio olio, carbonara, bolognese..</p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/f2.jfif" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Mac and Cheese</h2>
        <h3>RM10.00</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/f3.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Lamb Mandy</h2>
        <h3>Rm26.00</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/f4.jfif" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Sup Gearbox</h2>
        <h3>RM22.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/f5.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Eiffel Burger</h2>
        <h3>RM30.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/f6.JPG" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Mee Kolok Sarawak</h2>
        <h3>Rm12.00</h3> 
        
      </ion-label>
    </ion-item>

  </ion-list>
</div>
</ion-content>
