<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Food</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
  <ion-list>
    <ion-list-header>
      Menu
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/menu.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Nasi tomato</h2>
        <h3>Rm10.50</h3> 
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/menu2.jpeg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Nasi Ayam</h2>
        <h3>Rm7.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/menu3.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Nasi Ayam Penyet</h2>
        <h3>Rm5.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/menu4.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Nasi Lemak Ayam</h2>
        <h3>Rm8.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/menu5.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Lamb Shank</h2>
        <h3>Rm58.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/menu6.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Chicken Chop</h2>
        <h3>Rm18.00</h3> 
      </ion-label>
    </ion-item>

  </ion-list>
</div>
</ion-content>
