<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Drinks</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding">
  <ion-list>
    <ion-list-header>
      Menu
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/s1.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Kerepok Lekor</h2>
        <h3>Rm6.50</h3> 
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/s2.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>French Fries</h2>
        <h3>RM8.00</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/s3.jfif" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Mushroom Soup</h2>
        <h3>Rm10.00</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/s4.jfif" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Nachos</h2>
        <h3>RM12.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/s5.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Brownies</h2>
        <h3>RM13.50</h3> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/s6.jpg" width="50%">
      </ion-avatar>
      <ion-label>
        <h2>Sandwiches</h2>
        <h3>Rm12.00</h3> 
        
      </ion-label>
    </ion-item>

  </ion-list>
</div>
</ion-content>
